@font-face {
 font-family: 'Montserrat';
 src: url('montserrat-regular-webfont.woff') format('woff');
 font-style: normal;
 font-weight: 400;
}

@font-face {
 font-family: 'Montserrat';
 src: url('montserrat-medium-webfont.woff') format('woff');
 font-style: medium;
 font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-LightItalic-webfont.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
  font-weight: medium;
}

h2 {
  font-size: 32px;
  color: #0d47a1;
}

h3 {
  font-size: 16px;
  color: #0d47a1;
}

h5 {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 300;
}

.site {
  max-width: 100%;
  overflow: hidden;

}

a:link,
a:visited {
  color: #0d47a1;
  text-decoration: none;
}



.page {
  padding: 0px 8% 0px 8%;
  box-sizing: border-box;
  align-items: center;
}

.background {
  background-image: url("assets/images/background-1.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.menu {
  display: flex;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  height: 70px;
  padding: 40px 55px;
  background-color: #FFFFFF;
  position: fixed;
}

.logo-container {
  display: flex;
  width: 50%;
  align-items: center;

}

.logo-container h2 {
  font-size: 26px;
  font-weight: 300;
}

.nome-logo {
  display: none;
}

.link-menu {
  display: none;
}


.logo {
  width: 80px;
  height: auto;
}

.logo,
.chi-sono-menu,
.skills-menu,
.experiences-menu,
.contact-menu {
  display: flex;
  padding-right: 25px;
  font-size: 20px;
  font-weight: 500;
}

.header-background-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.header-video {
width: 100%;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  padding: 110px 25px 100px 25px;
  justify-content: left;
}

.profile-image {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: left;
  overflow: visible;
  padding: 0px;
}

.avatar {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.profile-info h1 {
  text-align: left;
  font-size: 28px;
}

.profile-info a {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #00b5ff;
}

.profile-info a:hover {
  color: #00b5ff;
  text-decoration-color: #0049bb;
}

.profile-info {
  padding-top: 25px;
}

.nome-profilo {
  background: linear-gradient(to right, #0049bb 0%, #00b5ff 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.profile-description {
  padding: 20px 0px 30px 0px;
}

.skills-section {
  padding: 25px 0px;
  justify-content: center;
  display: block;
}

.skills-section h2 {
  text-align: center;
}

.skills {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0px;
}

.skills h3{
  margin: 15px 0px;
  color: #0d47a1
}

.images-skills img {
  width: 100px;
  justify-content: center;
}

.project-management,
.startup,
.web-development,
.web-design {
  width: 280px;
  justify-content: center;
  padding: 25px 35px;
  margin: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #eee;

}

.project-management:hover,
.startup:hover,
.web-development:hover,
.web-design:hover {
  box-shadow: 10px 10px 30px #ddd;
  transition: 0.3s;
}

.pm-st,
.wd-de {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experiences-section {
  text-align: center;
  padding-bottom: 25px;
}

.experiences-section a {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  text-decoration: underline;
}

.experiences-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 25px 0px;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.experiences-container h3 {
  padding: 15px 0px;
}

.experiences-container img {
  width: 100%;
  align-items: center;
  display: block;
}

.container-images-experiences {
  height:90px;
  align-items: center;
}

.unito,
.sei,
.starplan,
.bioxparc {
  width: 280px;
  justify-content: center;
  padding: 25px 35px;
  margin: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #eee;
}

.unito:hover,
.sei:hover,
.starplan:hover,
.bioxparc:hover {
  box-shadow: 10px 10px 30px #ddd;
  transition: 0.3s;
}

.un-se,
.st-bi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contatti-section {
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  text-align: center;
}

.contatti-section h2 {
  text-align: center;
  padding-bottom: 25px;
}

.contatti {
  padding: 50px 25px;
  font-size: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #eee;
  display: block;
}

.email {
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px 15px 0px;
}

.facebook,
.linkedin,
.instagram {
  display: inline;
  align-items: center;
  border-radius: 5px;
  }

  .facebook:hover,
  .linkedin:hover,
  .instagram:hover {
    display: inline;
    align-items: center;
    border-radius: 5px;
    transform: rotate(10deg);
    }

.linkedin,
.instagram {
  margin-left: 17px;
}

.instagram {
  margin-right: 25px;
}



a.contact-button {
  background: linear-gradient(90deg, rgba(0,73,187,1) 0%, rgba(0,181,255,1) 100%);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1em;
  border-radius: 5px;
  border-color: #ffffff;
  padding: 15px 50px 15px 50px;
  cursor: pointer;

}

.contact-button:hover {
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,73,187,1) 100%);
  color: #fff;
}


@media only screen and (min-width: 961px) {
.profile-container {
  justify-content: center;
  padding-top: 150px;
}

.profile-image {
  clear: none;
  justify-content: flex-start;
}

.profile-info {
  padding-left: 0px;
  padding-top: 0px;
  width: 50%;
}

.profile-info h1 {
  font-size: 42px;
}

.logo-container {
  display: flex;
  width: 50%;
}

.link-menu {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  color: #0d47a1;
}

.menu {
  justify-content: space-between;
}

.nome-logo {
  display: inline;
}

.skills-section {
  padding: 80px 0px;
}

.experiences-section {
  padding-bottom: 80px;
}

.contatti-section h2 {
  padding-bottom: 30px;
}

.contatti {
  font-size: 26px
}

    }
}
